@font-face {
  font-family: 'Simpsons';
  src: url('./fonts/Simpsonfont.ttf') format('truetype');
}


* {
  box-sizing: border-box;
  font-family: 'Simpsons', Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  background: url(/public/img/background.jpeg);


}

#root {
  width: 100%;
  height: 100%;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

img{
  max-height: 300px;
}



.header {
  background: lightblue;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: lightblue;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSection {
  /* height: 100%; */
  margin: auto 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  place-items: center;
}

.card {
  background: lightpink;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid royalblue;
}

.card:Hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px gold;

}
