@font-face {
    font-family: 'Simpsons';
    src: url('./fonts/Simpsonfont.ttf') format('truetype');
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Simpsons', Arial, Helvetica, sans-serif;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    background-image: url(/public/img/background.jpeg);
    background-size: cover;
  }
  
  h1, h2 {
    text-align: center;
    margin: 20px 0;
  }

  p {
    margin: 0;
  }

  #root {
    height: 100%;
  }
  
  .App {
    height: 100%; 
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-between; 
  }
  
  header {
    background: darkblue;
    color: gold;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
  }
  
  .score {
    margin: 10px 30px 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
  }

  .bestScore {
    font-weight: bold;
    font-size: 1.2rem;
    color: gold;
  }

  .playBtn {
    position:fixed;
    left: 5px;
    top: 5px;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
  }

  .playBtn:Hover {
    cursor: pointer;
    filter: brightness(85%);
  }

  .playBtn img {
    width: auto;
    height: 25px;
  }
  
  main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 10vw;
  }

  .cardGrid {
    height: auto;
    max-width: 100%;
    margin: 0 10vw; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(250px, 100%/7), 1fr));
    gap: 15px;
    place-items: center;
  }
  
  .card {
    background: lightpink;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: none;
    border-radius: 10px;
  }
  
  .card:Hover {
    cursor: pointer;
    box-shadow: 0 0 5px 5px gold;
  }
  
  .cardImg {
    max-height: 250px;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  footer {
    color: palevioletred;
    height: auto;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }